---
// Static page - prerender at build time
export const prerender = true;

import Layout from "../../layouts/Layout.astro"

const credits = {
  title: "Créditos",
  content: "Este sitio fue construido con <a href='https://astro.build/'>Astro</a> y <a href='https://tailwindcss.com/'>Tailwind</a> usando un diseño de página de aterrizaje de <a href='https://www.blackspike.com'>Blackspike</a>. <a href='https://github.com/blackspike/blackspike-astro-landing-page'>Código original disponible en GitHub</a>.",
  list: [
    {
      item: "Logos falsos por <a href='https://uicontent.co/svg-dummy-logo/'>uicontent.co</a>"
    },

    {
      item: "Iconos varios y logo de <a href='https://icones.js.org/'>icones.js.org</a> por <a href='https://github.com/antfu'>@antfu</a>"
    },
    {
      item: "Carrusel impulsado por <a href='https://swiperjs.com/'>swiperjs.com</a>"
    },
    {
      item: "Fuente Inter por <a href='https://rsms.me/inter/'>rsms.me</a>"
    },
    {
      item: "Tema e imágenes 3D por <a href='https://www.blackspike.com'>blackspike ltd</a> están licenciados bajo <a href='https://creativecommons.org/licenses/by/4.0/'>CC BY 4.0</a>"
    }
  ]
}
---

<Layout 
  title="Desbloquea el Potencial de tu Negocio con IA | HAL149"
  description="Desde automatizaciones de IA hasta programas estratégicos, HAL149 es tu socio para construir e implementar estrategias de IA personalizadas que generen resultados empresariales reales."
  author="HAL149"
  type="website"
>

  <section class="max-w-[92vw] lg:max-w-4xl mx-auto bs-mt-md px-5 py-8 md:p-20 flex flex-col gap-3 justify-between border rounded-md bg-bs-surface-2 border-bs-surface-3 [&_a]:underline [&_a]:underline-offset-4 [&_a]:decoration-bs-foreground-dark/80 [&_a]:hover:decoration-bs-foreground-light">

    <!-- Title -->
    <h1 class="bs-h1">{ credits.title }</h1>

    <!-- Content -->
    <div class="text-pretty bs-mt-sm bs-body-text md:text-2xl" set:html={ credits.content }></div>

    <!-- Credits -->
    <ul role="list" class="bs-mt-sm md:text-xl [&_li]:ps-1 [&_li]:py-2 list-inside">

      { credits.list.map( ({ item }) => <li set:html={item} /> )}

    </ul>

  </section>

</Layout>
